
@using ClassLibrary1.ViewModels;
@using ClassLibrary1.Models;
@using WebApplication1.Helper
@{

  
    User aktivan = Autenfikacija.GetLogiraniKorisnik(Context);

}
    
    <table class="table table-bordered col-12 text-center">
        <thead class="thead-light  text-center">
            <tr>

                <th scope="col" class="text-center">lokacija</th>
                <th scope="col" class="text-center">Datum</th>
                <th scope="col" class="text-center">Termin</th>
                <th scope="col" class="text-center">Broj osoba</th>
                <th scope="col" class="text-center">Ponitavanje </th>
            </tr>
        </thead>

        <tbody>

            <tr>

                <td>asdfsdf sdfsdf sdfsdf</td>
                <td>21.21.2121</td>
                <td>12:12</td>
                <td>5</td>
                <td><a href="#" style="color:orangered">Poništi</a></td>

            </tr>

        </tbody>
        
    </table>
    <div class="alert alert-light col-12" role="alert">
        Trenutno nemate aktivnih rezervacija!
    </div>