
@model ClassLibrary1.ViewModels.KomentarVM


<button class="display-4" style="border:none; color:orangered; background-color:white " ajax-poziv="da" ajax-rezultat="unosKomentarPlaceholder" ajax-url="@Url.Action("Dodaj","Komentar")">dodaj komentar</button>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/jsFunkcije.js"></script>

