@model ClassLibrary1.ViewModels.PorukaVM

@{

    var brOsoblja = TempData["brAktivnihDjelatnika"];


}


@{ if (brOsoblja != null)
    {
        <div class="alert alert-light text-center" role="alert">
            Ispričavamo se na neugodnosti! Korisnička podrška trenutno nije dostupna. Javite nam se na <a href="Kontakt/Email" class="alert-link">mail</a>
            kako bi stupili u kontakt u što bržem roku.
        </div>



    }
    else
    {

        <form asp-action="PosaljiPoruku" ajax-poziv="da" ajax-rezultat="msgbtnDiv">
            <div class="input-group">
                <input type="text" class="form-control input-sm chat_set_height" asp-for="Poruka" />

                <span class="input-group-btn">
                    <button type="submit" class="btn bt_bg btn-lg">
                        Pošalji
                    </button>


                </span>
                <span asp-validation-for="Poruka" class="text-danger"></span>
            </div>
        </form>



    }


}




<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

