@model ClassLibrary1.ViewModels.PorukaVM
   
    
    
    <form asp-controller="Chat" asp-action="PosaljiPoruku" ajax-poziv="da" ajax-rezultat="msgbtnDiv" >

        <input type="text" asp-for="Poruka" />

        <input type="submit"  value="Posalji" />


    </form>
    